* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(https://images.hdqwalls.com/download/nature-background-1920x1080.jpg) no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    height: 60px;
}
  
  ul {
    display: flex;
    list-style: none;
    align-items: center;
}
  
  li {
    text-align: center;
    padding: 14px 12px;
}
  
  a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    width: 900px;
    height:800px;
    border-radius: 50px;
    background: rgba(229, 228, 226, 0.6);
    margin-top: 70px;
    padding: 50px;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 35px 0 20px 0 !important;
}