* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(https://images.hdqwalls.com/download/nature-background-1920x1080.jpg) no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    height: 60px;
}
  
  ul {
    display: flex;
    list-style: none;
    align-items: center;
}
  
  li {
    text-align: center;
    padding: 14px 12px;
}
  
  a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
}

.flip-card {
    background-color: transparent;
    width: 500px;
    height: 250px;
    perspective: 1000px;
    margin: 30px;
}
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow:
    0 0 30px 15px #fff,
    0 0 50px 30px #f0f,
    0 0 70px 45px #0ff;
}
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  

  .flip-card-front {
    background-color: #bbb;
    color: black;
}

  .flip-card-back {
    background-color: #1F2022;
    color: white;
    transform: rotateY(180deg);
    padding: 0px 20px 0px 20px;
}

h1 {
    text-align: center;
    margin: 25px 0 20px 0 !important;
}

button {
    width: 80px;
    padding: 5px 0px;
    margin: 70px 0px;
    border-radius: 20px;
    font-size: 1.2em;
    font-family: 'Noto Serif', serif;
}

button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6);
}