* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(https://images.hdqwalls.com/download/nature-background-1920x1080.jpg) no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    height: 60px;
}
  
  ul {
    display: flex;
    list-style: none;
    align-items: center;
}
  
  li {
    text-align: center;
    padding: 14px 12px;
}
  
  a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

.center {
    display: flex;
    color: white;
    flex-direction: column;
    left: 30%;
    top: 250px;
    position: relative;
}

.glitch {
font-size: 8rem;
font-weight: 700;
position: relative;
text-shadow: 0.05em 0 0 rgba(0, 153, 255, 0.75),
  -0.025em -0.05em 0 rgba(173, 0, 253, 0.75),
  0.025em 0.05em 0 rgba(255, 0, 242, 0.75);
  animation: glitch 500ms infinite;
}

.glitch span {
position: absolute;
top: 0;
left: 0;
}

.glitch span:first-child {
animation: glitch 650ms infinite;
clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
transform: translate(-0.025em, -0.0125em);
opacity: 0.8;
}

.glitch span:last-child {
animation: glitch 375ms infinite;
clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
transform: translate(0.0125em, 0.025em);
opacity: 0.8;
}

@keyframes glitch {
0% {
  text-shadow: 0.05em 0 0 rgba(0, 153, 255, 0.75),
    -0.05em -0.025em 0 rgba(173, 0, 253, 0.75),
    -0.025em 0.05em 0 rgba(255, 0, 242, 0.75);
}
14% {
  text-shadow: 0.05em 0 0 rgba(0, 153, 255, 0.75),
    -0.05em -0.025em 0 rgba(173, 0, 253, 0.75),
    -0.025em 0.05em 0 rgba(255, 0, 242, 0.75);
}
15% {
  text-shadow: -0.05em -0.025em 0 rgba(0, 153, 255, 0.75),
    0.025em 0.025em 0 rgba(173, 0, 253, 0.75),
    -0.05em -0.05em 0 rgba(255, 0, 242, 0.75);
}
49% {
  text-shadow: -0.05em -0.025em 0 rgba(0, 153, 255, 0.75),
    0.025em 0.025em 0 rgba(173, 0, 253, 0.75),
    -0.05em -0.05em 0 rgba(255, 0, 242, 0.75);
}
50% {
  text-shadow: 0.025em 0.05em 0 rgba(0, 153, 255, 0.75),
    0.05em 0 0 rgba(173, 0, 253, 0.75), 0 -0.05em 0 rgba(255, 0, 242, 0.75);
}
99% {
  text-shadow: 0.025em 0.05em 0 rgba(0, 153, 255, 0.75),
    0.05em 0 0 rgba(173, 0, 253, 0.75), 0 -0.05em 0 rgba(255, 0, 242, 0.75);
}
100% {
  text-shadow: -0.025em 0 0 rgba(0, 153, 255, 0.75),
    -0.025em -0.025em 0 rgba(173, 0, 253, 0.75),
    -0.025em -0.05em 0 rgba(255, 0, 242, 0.75);
}
}

@media (prefers-reduced-motion: reduce) {
*,
::before,
::after {
  animation-delay: -1ms !important;
  animation-duration: 1ms !important;
  animation-iteration-count: 1 !important;
  background-attachment: initial !important;
  scroll-behavior: auto !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}
}

.line-1 {
    font-size: 18px;
    color: aqua;
}

.line-2 {
    font-size: 95px;
    font-family: 'Dancing Script', cursive;
}

.line-3 {
    margin-bottom: 10px;
    position: relative;
    width: max-content;
}



.line-4 {
    font-size: 18px;

}

.line-5 {
    font-size: 18px;
    margin-top: 5px;
}

button {
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    font-family: 'Cherry Bomb One', cursive;
    font-weight: 900;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 4px solid aqua;
}

a {
    width: fit-content;
}

a:hover {
    text-decoration: underline;
}
